<div class="container mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <div
      class="p-6 m-8 items-center border border-blue-500 cursor-pointer hover:shadow-lg transition"
      *ngFor="let user of users$ | async; let i = index; trackBy: usersTrackBy"
      (click)="navigateToUserDetails(user)"
    >
      <div class="w-16 h-16 md:w-28 md:h-28">
        <img
          src="{{ user.avatar_url }}"
          alt=""
          class="cat rounded-full w-full h-full border-2 border-blue-500"
        />
      </div>
      <div
        class="item-center mx-4 bottom-2 px-2 md:px-0 py-3 text-xl md:text-2xl text-indigo-900"
      >
        <div class="font-semibold uppercase text-xs text-gray-400">user</div>
        <h3 class="font-bold text-2x mb-2">{{ user.login }}</h3>

        <div class="my-2 flex space-x-4">
          <span
            class="bg-blue-600 text-gray-200 text-xs px-2 py-1 rounded-full p-8 hover:bg-red-900"
            >View Profile</span
          >
        </div>
      </div>
    </div>

    <div
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="30"
      (scrolled)="onScrollDown()"
    ></div>
  </div>
</div>
