<h2 class="primary-color-white">User Details</h2>

<div>
  <div>
    <div>
      <img src="{{ user?.avatar_url }}" alt="" />
    </div>
    <h3>{{ user?.name }}</h3>
  </div>

  <div>
    <h3>{{ user?.login }}</h3>
    <h3>{{ user?.company }}</h3>
    <h3>{{ user?.bio }}</h3>
    <h3>{{ user?.location }}</h3>
    <h3>{{ user?.email }}</h3>

    <h3>{{ user?.followers }}</h3>
    <h3>{{ user?.following }}</h3>

    <h3>{{ user?.created_at | date }}</h3>
    <h3>{{ user?.updated_at | date }}</h3>
  </div>
  <div>
    <h3>{{ user?.events_url }}</h3>
    <h3>followers url {{ user?.followers_url }}</h3>
    <h3>following url {{ user?.following_url }}</h3>
    <h3>{{ user?.gists_url }}</h3>
    <h3>go to profile {{ user?.html_url }}</h3>
    <h3>{{ user?.followers_url }}</h3>
    <h3>{{ user?.events_url }}</h3>
    <h3>{{ user?.followers_url }}</h3>
    <h3>{{ user?.blog }}</h3>

    <h3>public repos {{ user?.public_repos }}</h3>
    <h3>public_gists {{ user?.public_gists }}</h3>
  </div>
</div>
